@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --primary-light: #ddd;
  --primary-dark: #222831;
  --secondary-dark: #393e46;
  --secondary-dark-hover: #4a4f57;
  --secondary-dark-active: #5b5f68;
  --header: #111720;
  --primary-yellow: #fac650;
}

.header {
  font-family: 'Press Start 2P', cursive;
  color: var(--primary-yellow);
  background-color: var(--header);
  text-align: center;
  padding: 40px;
}

body {
  background-color: var(--primary-dark);
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: var(--primary-light);
}

.result {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px;
}

.result > h2 {
  font-size: 32px;
  padding-bottom: 20px;
}

.result > h3 {
  font-size: 20px;
}

.current-picks {
  display: flex;
  justify-content: center;
  text-align: center;
}

.user, .computer {
  margin: 10px 50px;
}

.user-choice, .computer-choice {
  font-size: 80px;
  margin-bottom: 15px;
}

.user-score, .computer-score {
  font-size: 22px;
}

.choices {
  display: flex;
  justify-content: center;
  margin: 25px 0px;
}

.choice {
  font-size: 80px;
  margin: 20px;
  padding: 20px 35px;
  border-radius: 10px;
  border: none;
  background-color: var(--secondary-dark);
}

.choice:hover {
  background-color: var(--secondary-dark-hover);
  cursor: pointer;
}